<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %> | Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <div>
            <h2><%= title %></h2>
            <p>by <a href="#"><%= author %></a></p>

            <p><%= body %></p>
            <hr>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>
